<!-- <select
  [(ngModel)]="zone"
  (selectionChange)="changeZone($event)"
  class="timezone"
>
  <option *ngFor="let item of timeZones | keyvalue" value="{{ item.value }}">
    {{ item.key }}
  </option>
</select> -->

<div class="timezone-container">
  <mat-icon fontIcon="location_on" class="icon" />
  <mat-select
    [(ngModel)]="zone"
    (selectionChange)="changeZone($event)"
    [className]="'timezone'"
  >
    <mat-option
      value="{{ item.value }}"
      *ngFor="let item of timeZones | keyvalue"
      matIconSuffix=""
    >
      {{ item.key }}</mat-option
    >
  </mat-select>
</div>
